<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 카메라 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 민재코드 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootBall"
        tools:targetApi="31">
        <activity
            android:name=".footBall_damyeong.boardAndPost.TeamManagerActivity"
            android:exported="false"/>
        <activity
            android:name=".footBall_damyeong.boardAndPost.Bus.BusReservationActivity"
            android:exported="false" />
        <activity
            android:name=".footBall_subin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".footBall_damyeong.boardAndPost.boardSelectAndCreate.BoardCreateActivity"
            android:exported="false" />
        <activity
            android:name=".footBall_damyeong.boardAndPost.boardSelectAndCreate.UserBoardsFragment"
            android:exported="false" />
        <activity
            android:name=".footBall_damyeong.boardAndPost.boardSelectAndCreate.PublicBoardsFragment"
            android:exported="false" />
        <activity
            android:name=".footBall_damyeong.boardAndPost.PostActivity"
            android:exported="false" />
        <activity
            android:name=".footBall_damyeong.boardAndPost.Post"
            android:exported="false" />
        <activity
            android:name=".footBall_damyeong.boardAndPost.BoardActivity"
            android:exported="false" />
        <activity
            android:name=".footBall_damyeong.boardAndPost.CreatePostActivity"
            android:exported="false" /> <!-- 민재코드 -->
        <activity android:name=".football_minjae.SignUpActivity" />
        <activity android:name=".football_minjae.TeamDetailsActivity" />
        <activity android:name=".football_minjae.PlayerDetailsActivity" />
        <activity android:name=".MainViewActivity" />
        <activity android:name=".football_minjae.EditActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".football_junsik.NewActivity"
            android:exported="false" />
        <activity
            android:name=".football_minjae.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FootBall">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>